<!-- banner -->
<div class="banner_ocls page_head">

</div>
<!-- //banner -->
<div class="about all_pad animated fadeIn">
  <div class="container">
    <h3 class="title">About Us<div class="linea"></div></h3>

    <div class=" text-justify">
      <h4>Premier Pharmacy is conveniently located in the shopping center on the lower of the Hotel Depoint near the intersection of 127th Street and 20th Avenue.   </h4>
      <p class="space text-justify">
        Premier pharmacy specializes in serving you and your family with fast, friendly, professional service and the highest-quality medicines and health products. There’s nothing more important to us than your family’s well-being.
      </p>
      <div class="space"><p>Our pharmacists will take the time to counsel you and answer your questions. Please call us or visit our pharmacy for. </p></div>

    </div>
    <div class="services-grids oclayouts space">
      <div class="col-md-6 ser-right-page space">
        <div class="port-2 effect-3 space" >
          <div class="image-box oc">
            <img src="../../../assets/images/p2.jpg" alt=" "/>
          </div>
          <div class="text-desc">
            <h4>Pharmacy Premier Health</h4>
            <p>Premier Pharmacy is conveniently located in the shopping center on the lower of the Hotel Depoint near the intersection of 127th Street and 20th Avenue.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 ser-left-page space">
        <div class="services-grid ocl">
          <!--<div class="services-left ocls">
              <p>01</p>
          </div>-->
          <div class="services-right agileits">
            <h4>Experience</h4>
            <p>With more than 15 years of experience, our knowledgeable pharmacists are waiting to take care of you and your wellness needs. We promise to provide friendly service with accuracy and ease. You can trust us to make your prescription pick up and delivery a hassle-free part of your routine.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--<div class="services-grid agileinfo">
            <div class="services-left wthree">
                <p>02</p>
            </div>
            <div class="services-right oc-agileits">
                <h4>Promise</h4>
                <p>
                    Our pharmacists will take the time to counsel you and answer your questions.

                    <div>	Your healthcare needs are more than just a prescription. It's about managing your total health and well-being, we can give you the support you need. Whether you have a question about your medication or an over-the-counter product, our knowledgeable and friendly staff is ready to assist
                    </div>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        -->
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
