
<div class="contact_ocagile">
  <div class="row"><h2 class="title oc">Contacts Us</h2>
    <div class="strip"></div>
    <div class="">

      <div class="container">

        <div class=" contact-foo">

          <div class="row oc_flex">
            <div class="container ">
              <div class="col col-md-4 col-sm-12 col-xs-12 space">
                <div class="col col-md-2 col-sm-2 col-xs-2 respon">
                  <span class="socialfoo"> <h3><i class="green glyphicon glyphicon-map-marker " aria-hidden="true" ></i></h3> </span>
                </div>
                <div class="col col-md-10 col-sm-10 col-xs-10 ">
                  <h4 class="white">Address</h4>
                  <div class=" ">
                    <h5>{{ _is.info.address }}
                      <div>{{ _is.info.address1 }}</div></h5>
                  </div>

                </div>

              </div>
              <div class="col col-md-4 col-sm-12 col-xs-12 space">
                <div class="col col-md-2 col-sm-2 col-xs-2 respon">
                  <span class="socialfoo" > <h3><i class="green glyphicon glyphicon-earphone" aria-hidden="true"></i></h3> </span>
                </div>
                <div class="col col-md-10 col-sm-10 col-xs-10">
                  <h4  class="white">Call Us</h4>
                  <div class=" "><h5 style="display:block"> {{ _is.info.call }}</h5>	<h5> {{_is.info.call1 }}</h5></div>

                </div>

              </div>
              <div class="col col-md-4 col-sm-12 col-xs-12 space">
                <div class="col col-md-2 col-sm-2 col-xs-2 respon">
                  <span class="socialfoo"> <h3><i class="green glyphicon glyphicon-time" aria-hidden="true" ></i> </h3> </span>
                </div>
                <div class="col col-md-10 col-sm-10 col-xs-10">
                  <h4 style="display: inline;">Hours of Operation</h4>
                  <div>

                    <h5> {{ _is.info.hours_open }} </h5>
                    <h5> {{ _is.info.hours_closed}}</h5>
                  </div>
                </div>





              </div>

            </div>


          </div>
        </div>

      </div>

    </div>
    <div class=" space oc_flex">


      <div class="contact-oc_footer ">
        <div class="banner-text ocl ">
          <form action="mailto:info@qubitmarketing.com" method="post" class=" white" name="contac">
            <div class="row form">
              <div class=" col-md-3 form ">
                <label for="Name"> Name</label>
                <input type="text" id="Name"  name="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">
              </div>

              <div class="  col-md-3 form ">
                <label for="Email"> E-mail</label>
                <input type="text" id="Email"  name="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}" >
              </div>
              <div class="form col-md-3">
                <label for="Phone"> Phone Number</label>
                <input type="text" id="Phone" name="Phone" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Phone';}" >
              </div>
              <div class="form  col-md-3">
                <label for="Message">Message</label>
                <input name="Message" id="Message" type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}" required="">
              </div>

            </div>
            <div class="row">
              <div class="form col-md-3 col-md-offset-9 float-right">
                <div class=" text-center ">
                  <input class="white" type="submit" value="Contact Our Pharmacist" >

                </div>
              </div>

            </div>
          </form>
        </div>


      </div>
    </div>

  </div>

</div>


<div class="footer">
  <p class="footer-text">&copy; {{ anio }} Pharmacy Premier Health. All rights reserved  <a href="privacy.html">Privacy Policy</a> </p>

</div>

