<!-- header -->
<div class="header_ocl">
  <div class="occontainer">
    <div class="oc_contac j-conte m-bottom" >
      <div class="row">
        <div class="container  ">
          <div class="j-conte col col-md-offset-6 col-md-6 m-bottom ">
            <span class="socialme" > <h3><i class="white glyphicon glyphicon-earphone" aria-hidden="true"></i></h3> </span>
            <div class=" space-left"><span style="display:block"> {{ _is.info.call }}</span>	<span> {{ _is.info.call1 }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style="background-color: #fff" routerLink="/home"><img class="logo img-responsive" src="../../../assets/images/logo_white.jpg" alt=""></a>
        <div class="box"></div>
      </div>
      <!-- top-nav -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li ><a routerLink="/home" routerLinkActive="active" >Home</a></li>
          <li><a  routerLink="/about" routerLinkActive="active">About Us</a></li>
          <li><a  routerLink="/service" routerLinkActive="active">Services</a>
            <!--	<ul>
                    <li><a href="">New Prescription </a></li>
                    <li><a href="">Transfer Prescription </a></li>
                    <li><a href="">Refill Prescription </a></li>
                    <li><a href="">medications services </a></li>
                </ul>
            </li>-->
            <!--<li><a href="prescription.html">New Prescription</a></li>
            <li><a href="refill.html">Refill Prescription</a></li>
            <li><a href="transfer.html">Transfer Prescription</a></li>-->
          <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
          <li><a routerLink="/contact"routerLinkActive="active">Contact</a></li>
        </ul>
        <div class="clearfix"> </div>
      </div>
    </nav>
  </div>
</div>
<!-- header -->