<!-- banner -->
<div class="banner_ocls oclayouts oc_flex animated fadeIn ">
  <div  id="top" class="callbacks_container">
    <ul class="rslides" id="slider3">
      <li>
        <div class="banner-info oc">
          <div class="banner-text ocl">
            <h3>Looking for a new pharmacy</h3>
            <p> We are the pharmacy tailor made for you. </p>
          </div>
        </div>
      </li>
      <li>
        <div class="banner-info ocls">
          <div class="banner-text agileits">
            <h3 class="">Prescriptions, Counseling, Management;  </h3>
            <p>Our Staff can help you with all your needs.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="banner-info agileinfo">
          <div class="banner-text wthree">
            <h3>Medical Therapy Management (MTM); </h3>
            <p> We make sure your prescription is working for you. </p>
          </div>
        </div>
      </li>
    </ul>
    <div class="contact-oc mx-aut  oc-flex">
      <div class="banner-text ocl">
        <h3 class="white text-center">Contact Our Pharmacist</h3>
        <form method="post" class="space" name="pharmacist" id="pharmacist" (submit)="headerEmail(header)">
          <div class="form">
            <div class="mar-form">
              <label for="name"> Name</label>
              <input class="input" type="text" id="name"  name="name" #name="ngModel" onfocus="this.value='';" [(ngModel)]="header.name"  required  >
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
                Name is required
              </div>
            </div>
            <div class="mar-form">
              <label for="email"> E-mail</label>
              <input class="input" type="text" id="email"  name="email" #email="ngModel" onfocus="this.value='';" [(ngModel)]="header.email"  required  >
              <div [hidden]="email.valid || email.pristine"
                   class="alert alert-danger">
                Email is required
              </div>
            </div>
            <div class="mar-form">
              <label for="Phone"> Phone Number</label>
              <input class="input" type="text" id="phone"  name="phone" #phone="ngModel" onfocus="this.value='';" [(ngModel)]="header.phone"  required  >
              <div [hidden]="phone.valid || phone.pristine"
                   class="alert alert-danger">
                Phone is required
              </div>
            </div>
            <div class="mar-form">
              <label for="Message">Message</label>
              <textarea class="input" id="message" name="message" #message="ngModel" onfocus="this.value='';" [(ngModel)]="header.message"  required  ></textarea>

            </div>
            <div class="mar-form">
              <div class=" text-center ">
                <input type="submit" value="Contact Our Pharmacist" class="btn-submit">
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="bottom_wthree">
  <div class="col-md-6 bottom-left oc-agileits">
    <figure class="cube-1">
      <div class="btm-hov">
        <div class="btm-wid">
          <div class="thumbs">
            <span class="rotate"><a href="#!" class="btn cube-img"><img src="../../../assets/images/logo.png" ></a></span>
          </div>
          <div class="fill_fig">
            <span class="fill"></span>
            <span class="fill"></span>
            <span class="fill"></span>
            <span class="fill"></span>
          </div>
        </div>
      </div>
    </figure>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-6 bottom-right agileits-oclayouts">
    <div class="btm-right-grid agile">
      <h2>{{ _is.info.tittle }}</h2>
      <p> Our pharmacy is dedicated to curating a quality experience for each and every customer that walks in the door. We are your community pharmacy and aim to provide positive, easy and informative interactions every time you step through our door. Each of our on-site-pharmacists is dedicated to assisting you with all of your pharmaceutical needs through one-on-one consultations. Come see us, here you are a priority. </p>
      <div> <p>We give you genuine care,  We make sure your prescription is working for you.  </p></div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //banner-bottom -->
<!-- services -->
<div class="services_agile">
  <div class="container">
    <h3 class="title">Why Premier Health Pharmacy?  <div class="linea"></div></h3>
    <div class="services_right oc-agile sevices-flex">
      <div class="col-md-3  list-left text-center wow bounceInDown item-services" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <span><img src="../../../assets/images/icon11.png" alt=" "/></span>
        <h4>{{ _is.info.tittle1 }}</h4>
        <!--<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/p5.jpg" alt=" "/></a></div>-->
        <p> {{ _is.info.des1 }} </p>
      </div>
      <div class="col-md-3   list-left text-center wow bounceInDown item-services" data-wow-duration="1.5s" data-wow-delay="0.2s">
        <span><img src="../../../assets/images/icon4.png" alt=" "/></span>
        <h4>{{ _is.info.tittle2 }}</h4>
        <!--<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/p6.jpg" alt=" "/></a></div>-->
        <p> {{ _is.info.des2 }} </p>
      </div>
      <div class="col-md-3   list-left text-center wow bounceInDown item-services" data-wow-duration="1.5s" data-wow-delay="0.3s">
        <span><img src="../../../assets/images/icon3.png" alt=" "/></span>
        <h4>{{ _is.info.tittle3 }}</h4>
        <!--<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/p7.jpg" alt=" "/></a></div>-->
        <p>{{ _is.info.des3}} </p>
      </div>
      <div class="col-md-3   list-left text-center wow bounceInDown item-services" data-wow-duration="1.5s" data-wow-delay="0.3s">
        <span><img src="../../../assets/images/icon40.png" alt=" "/></span>
        <h4>{{ _is.info.tittle4 }}</h4>
        <!--<div class="multi-gd-text"><a href="#"><img class="img-responsive" src="images/p7.jpg" alt=" "/></a></div>-->
        <p>{{ _is.info.des4 }} </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //services -->

<!-- care -->
<div class="">
  <div class="row space">
    <div class="col col-md-6 ">
      <div class="padding">
        <h3 class="title">Experience<div class="linea"></div></h3>
        <div class=" padding text-center">
          <div class=" space">
            <p>With more than 15 years of experience, our goal is to provide superior, comprehensive services and products along with high quality pharmaceuticals to our customers.
            </p>
          </div>
          <div class=" space">
            <p>We are designed with the community and our customers in mind.  Your satisfaction is our priority and our experienced staff guarantees to make your visit an excellent one.
            </p>
          </div>
          <div class="clearfix"></div>
          <div class=" space">
            <p>For your convenience, Premier works directly with care providers to coordinate prescription and insurance details, such as prior authorizations, to prevent any delays in starting new medications.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-md-6 care_agileits care-height"></div>
  </div>
</div>

<!-- //care -->
<div class="features_oc agileits">
  <div class="container">
    <h3 class="title">Our Services<div class="linea"></div></h3>
    <div class="fea_grids ocls">
      <div class="col-md-6 fea_grid1 oc_flex">
        <div class="col-sm-4 fea_left text-center ocls">
          <div class="ih-item circle effect1">
            <a routerLink="/prescription">
              <div class="spinner"></div>
              <div class="img"><img src="../../../assets/images/icon1.png" alt="img"></div>
              <div class="info">
                <div class="info-back">
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-8 fea_right agileinfo">
          <h4>New Prescriptions</h4>
          <p> </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 fea_grid2 oc_flex">
        <div class="col-sm-8 fea_right fea_two oc-agileits">
          <h4>Refill Prescriptions</h4>
          <p></p>
        </div>
        <div class="col-sm-4 fea_left fea_one text-center oclayouts">
          <div class="ih-item circle effect1">
            <a routerLink="/refill">
              <div class="spinner"></div>
              <div class="img"><img  class="responsive-img" src="../../../assets/images/icon13.png" alt="img"></div>
              <div class="info">
                <div class="info-back">
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 fea_grid1 fea_bor oc-agileits oc_flex">
        <div class="col-sm-4 fea_left text-center">
          <div class="ih-item circle effect1">
            <a routerLink="/transfer">
              <div class="spinner"></div>
              <div class="img"><img class="responsive-img" src="../../../assets/images/icon12.png" alt="img"></div>
              <div class="info">
                <div class="info-back">
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-8 fea_right agileits-oclayouts">
          <h4>Transfer Prescriptions</h4>
          <p></p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 fea_grid2 fea_bor oc oc_flex">
        <div class="col-sm-8 fea_right fea_one ocl">
          <h4>FAQ</h4>
          <p></p>
        </div>
        <div class="col-sm-4 fea_left fea_two text-center oc-agileits">
          <div class="ih-item circle effect1">
            <a routerLink="/faq">
              <div class="spinner"></div>
              <div class="img" ><img class="responsive-img" src="../../../assets/images/icon4.png" alt="img"></div>
              <div class="info">
                <div class="info-back">
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div>
  <h3 class="title agile">View On Map <div class="linea"></div></h3>
    <!-- <div id="map"></div>
  <!--  <google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
      <markers models="map.markers" coords="'self'" options="'options'" isLabel='true'>
      </markers>
    </google-map>-->
    <agm-map [latitude]="40.781348" [longitude]="-73.841042">
        <agm-marker [latitude]="40.781348" [longitude]="-73.841042"></agm-marker>
    </agm-map>
 </div>

