<!-- banner -->
<div class="banner_ocls page_head">

</div>
<!-- //banner -->
<div class="about all_pad animated fadeIn">
  <div class="container">
    <h3 class="title">Refill Prescriptions <div class="linea"></div></h3>
    <div class="services-grids oclayouts">
      <div class="col-md-12">
        <p class="">Never forget about your medication refills again with free text and email reminders, curtesy of your local pharmacy.</p>

        <p class="space">	To request a prescription refill, simply complete the form below and we will call you back as soon as possible during business hours. If you have questions or want to fill out a request over the phone, do not hesitate to call during our hours of operation at 1-718-661-0872.
        </p>

      </div>

      <div class="row">
        <div class="col-md-8">

          <form (submit)="refilEmail(refill)">
            <div class="formulario">
              <div class="form">
                <label for="first"> First name </label>
                <input class="input" type="text" id="first"  name="first" [(ngModel)]="refill.first" required>
              </div>

              <div class="form">
                <label for="last">Last name</label>
                <input class="input" type="text" id="last"  name="last"  [(ngModel)]="refill.last" required>

              </div>

              <div class="form">
                <label for="email">E-mail</label>
                <input type="email" class="input" id="email" name="email"  [(ngModel)]="refill.email" required>

              </div>

              <div class="form">
                <label for="phone">Phone</label>
                <input type="text" class="input" id="phone" name="phone"  [(ngModel)]="refill.phone" required>

              </div>
              <div class="form">
                <label for="RxNumber">RX Number/s</label>
                <input type="text" class="input" id="RxNumber" name="RxNumber"  [(ngModel)]="refill.rx" required>

              </div>

              <div class="form ">
                <label for="Message">Message</label>
                <textarea class="input" id="Message" name="Message"  [(ngModel)]="refill.message"></textarea>

              </div>
              <div class="g-recaptcha" data-sitekey="6LdENUgUAAAAAIKcq1XfmdF2_MTPbqKeqkxCfvo6"></div>
              <div class="form">
                <div class=" text-center ">
                  <button class="btn-submit" > Send</button>
                  <!--<input type="submit" value="Submit" class="btn-submit" id="submit" name="submit">-->

                </div>
              </div>

            </div>
          </form>




        </div>
        <div class="col-md-4 space">
          <h3 class="title" style="text-align:center">Contact Us <div class="linea"></div><span></span> </h3>
          <div class=" agileits-oclayouts">
            <i class="glyphicon glyphicon-map-marker green" aria-hidden="true"></i>
            <h4 class="green" style="display: inline;">Address<div class="line"></div></h4>
            <h4>20-07 127th St #G33
              <div>College Point, NY 11356-2321</div></h4>
          </div>

          <div class=" space agileits-oclayouts">
            <div><i class="glyphicon glyphicon-earphone green" aria-hidden="true"></i>
              <h4 class="green" style="display: inline;">Call Us<div class="line"></div></h4>
            </div>


            <div><h4> 1-866-201-3831</h4>	</div>
            <div><h4> 1-718-661-0872</h4> </div>

          </div>
          <div class="space">
            <i class="glyphicon glyphicon-envelope green" aria-hidden="true"></i>
            <h4 class="green" style="display: inline;">Email<div class="line"></div></h4>
            <h4><a href="mailto:info@premier.com">info@premier.com</a>

            </h4>
          </div>
          <div class="space">
            <i class=" glyphicon glyphicon-time green" aria-hidden="true" ></i>
            <h4 class="green" style="display: inline;">Hours of Operation<div class="line"></div></h4>
            <div>
              <h4>Mon - Fri: 9-5 pm : Open </h4>

            </div>
            <div>
              <h4>Sat- Sun : Closed</h4>
            </div>

          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
