<!-- banner -->
<div class="banner_ocls page_head" >

</div>
<!-- //banner -->
<div class="about all_pad animated fadeIn">
  <div class="container">
    <h3 class="title">FAQ<div class="linea"></div></h3>

    <div class="services-grids oclayouts">
      <div class="col-md-12 " style="word-spacing: 2px;">
        <h4>Customer Service</h4>
        <div class="faq">
          <h5 class="space"> Q. Do you have Spanish-speaking representatives?</h5>
          <p>  Yes. For a Spanish-speaking representative simply call our toll free number 1-866-201-383.

          </p>

          <h5 class="space">Q. Do you offer any kind of medical counseling? </h5>
          <p> Yes. We offer free prescription counseling and Medical Therapy Management. Ask our staff about our onsite specialists for diabetes and non-narcotic pain solutions.

          </p>


          <h5 class="space">Q. Can I transfer my prescriptions from my current pharmacy to Premier Health Pharmacy?  </h5>
          <p> Yes. Fill out a written request form, call or walk-in and our staff will handle your prescription transfer request. We can be reached at 1-718-661-0872 during business hours or toll free at 1-866-201-383.   </p>


          <h5 class="space">Q. How do I know when my prescriptions are ready for pick-up?</h5>
          <p>We offer text and email alert prescription reminders for all of our customers.

          </p>
        </div>

        <h4>Coverage</h4>

        <div class="faq">
          <h5 class="space" > Q. How can I pay for my prescriptions? </h5>
          <p> We accept cash, credit and check payments for prescriptions.   </p>

          <h5 class="space">Q. What is your insurance coverage policy? </h5>
          <p> We do accept insurance. Our staff will cross check your diagnosis with your health insurance coverage provided by your policy provider. To ensure a more efficient process, always have your insurance information and doctor’s contact information on hand.   </p>

          <!-- <h5 class="space"> Q. What is the Pharmacy’s return policy? </h5>
          <p> If an item arrives damaged or with a manufacturer defect, we will replace it at no cost to you </p>-->
        </div>

        <h4> Pickup/Delivery </h4>
        <div class="faq">
          <h5 class="space"> Q. How long does prescription delivery take?</h5>
          <p> If we have received all the proper prescription and insurance information, your delivery should arrive in between 3-5 business days. </p>

          <h5 class="space">Q. Do you only ship to home addresses?</h5>
          <p> No. If you would like your prescription sent to somewhere other than your provided home address, contact our pharmacy team to make a request.  </p>
        </div>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>

